
.footer {
    background-color: var(--color-bg-header); 
    padding: 3rem 0;
    margin-top: auto;
}

.footer__container {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 2.5rem;
    color: var(--color-bg-body); 
    padding: 8rem 3% 3rem 3%;
}


.footer__logo {
    width: 150px; 
    padding-top: 2rem;
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}


.footer__redes {
    display: flex;
    gap: 1.5rem; 
}

.footer__social-link {
    color: var(--color-bg-body); 
    transition: transform 0.3s, color 0.3s;
    display: inline-block;
  
    svg {
        width: 8rem; 
        height: 8rem;
        display: block;
        fill: currentColor;
        
    }

 
    &:hover {
        color: var(--color-primary); 
        transform: translateY(-5px);
    }
}


.footer__datas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding-top: 1rem;
}

.footer__data-item {
    display: flex;
    align-items: center; 
    gap: 0.8rem;
    font-size: 0.95rem;

    svg {
        width: 1.5rem;
        height: 1.5rem;
        color: var(--color-primary); 
        flex-shrink: 0;
    }

    p {
        margin: 0;
    }
    
    span {
        font-weight: bold; 
    }
}


@media screen and (min-width: 768px) {
    .footer__container {
        flex-direction: row;
        justify-content: space-between; 
        align-items: flex-start; 
    }

    .footer__datas {
        align-items: flex-start; 
    }
}