
*,
*::before,*::after {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
body {
    font-family: var(--font-main);
    background-color: var(--color-bg-body);
    color: var(--color-text-main);
    min-height: 100vh;
    line-height: 1.6; 
    -webkit-font-smoothing: antialiased;
}

img, 
picture, 
video, 
canvas, 
svg {
    max-width: 100%;
    display: block; 
}

/* 4. FORMULARIOS QUE HEREDAN FUENTES */
input, 
button, 
textarea, 
select {
    font: inherit; 
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word; /*  */
}

ul, ol {
    list-style: none;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}