
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');

:root {
    /* --- PALETA DE COLORES --- */
    
    --color-primary: #e5c120;   
    --color-bg-body: #efefef;      
    --color-bg-header: #070707;   
    
    --color-text-main: #161616;   
    --color-text-muted: #b4b4b4;   
    --color-white: #ffffff; 

    /* --- TIPOGRAFÍA --- */
    --font-main: 'Inter', sans-serif;

    --container-width: 1200px; 
}