.saludo__section{
    background-color: var(--color-text-main);
    scroll-margin-top:5.7rem;
}

.saludo__container{
    color: var(--color-bg-body);
    padding: 0rem 3% 4rem;

    .saludo__title{
        font-size: clamp(3.1rem, 9vw, 6.2rem);
        font-weight: 900;
        margin: 0;
        line-height: 0.7;
        flex-shrink: 0;
        margin-bottom: 4rem;
    }

    .saludo__doble{
        display: flex;
        gap: 3rem;
        align-items: stretch;
        width: 100%;

        .saludo__text{
            display: flex;
            
            flex-direction: column;
            gap: 2rem;
            text-align: justify;
            width: 50%;
            line-height: 1.6;
            font-size: 0.9rem;

            span {
                display: block;
                font-weight: bold; /* Para destacar la firma */
                margin-top: 0.5rem;
            }
        }

        .saludo__img--pastores{
            display: flex;
            justify-content: center; 
            align-items: center;     
            width: 50%;
       
            img{
                width: 100%;
                height: 100%;
                aspect-ratio: 4/3;
            
                object-fit: cover; 
                border-radius: 1rem;
                box-shadow: 0 10px 20px rgba(0,0,0,0.3); 
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .saludo__container {
        padding: 3rem 1.5rem;

        .saludo__title {
            font-size: clamp(3.1rem, 15vw, 4rem);
            text-align: center;
            margin-bottom: 2rem;
            line-height: 1;
        }

        .saludo__doble {
            flex-direction: column; 
            align-items: center;
            gap: 3rem;

            .saludo__text {
                width: 100%;
            }

            .saludo__img--pastores {
                width: 100%;
                height: 400px; 
            }
        }
    }
}