.somos__section{
    background-color: var(--color-text-main);
    scroll-margin-top:10.68rem;
}

.somos__container{
    color: var(--color-bg-body);
    padding: 1rem 3% 5rem;
    width: 100%;

    .somos__doble{
        display: flex;
        gap: 3rem;
        width: 100%;

        .somos__text{
            width: 50%;
            display: flex;
            flex-direction: column;
            text-align: justify;
            width: 50%;
            line-height: 1.6;
            font-size: 1rem;
            font-size: 1.5rem;
            gap: 1rem;
            
            .somos__title{
                font-size: clamp(5rem, 8vw, 6.2rem);
                font-weight: 900;
                margin: 0;
                text-align: center;
            }
        }

        .somos__imagenes{
            padding-top: 6rem;
            padding-bottom: 3rem;
            width: 50%;
            display: grid;
            grid-template-columns: repeat(4, 1fr); 
            align-items: center;
            justify-content: center; 

            .somos__img{    
                margin-left: -30px; 
                position: relative;
                border-radius: 50%;
                overflow: hidden;
                background-color: var(--color-text-main);

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    
                }

                &:nth-child(odd) {
                    transform: translateY(30px);
                }
                
                &:nth-child(even) {
                    transform: translateY(-30px);
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .somos__container {
        padding: 4rem 4rem; 

        .somos__doble {
            flex-direction: column; 
            align-items: center;
            gap: 2rem;

            .somos__text{
                width: 100%;
            }

            
            .somos__imagenes{
                width: 100%;
                margin-left: 30px;
            }
        }
    }
}