.vision__grid {
    display: grid;
    grid-template-columns: calc(50% - 106px) calc(50% + 106px);
    

    .vision__gridL {
        position: relative;

        .vision__backgroundL {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            
            &::after {
                content: "";
                position: absolute;
                inset: 0;
                background-color: rgba(0, 0, 0, 0.4);
                z-index: 2; 
            }
            .vision__background--img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 35%;
            }
        }

 
        .vision__gridL--container {
            
            position: relative;
            z-index: 2;
            width: 100%;
            max-width: 534px; 
            flex-shrink: 0; 
        }
    }

    .vision__gridR {
        background-color: var(--color-text-main);
        
        .vision__gridR--container {
            padding: 3rem 5% 3rem 7rem;
            max-width: 746px; 
            flex-shrink: 0;
            display: flex;
            align-items: center;
            gap: 5rem;
            .vision__parrafo {
                color: var(--color-bg-body);
                line-height: 1.6;
                text-align: justify;
                font-size: 1.5rem;
            }

            .vison__title {
                color: var(--color-primary);
                writing-mode: vertical-rl;
                font-size: clamp(5rem, 8vw, 6.2rem);
                text-transform: uppercase;
                font-weight: 900;
                margin: 0;
                line-height: 0.8;
                flex-shrink: 0;
            }
        }
    }
}

.vision__grid--two{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    gap: 6rem 8rem;
    padding: 8rem 10rem;
    width: 100%;

    .vision__target{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .target__title {
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: 600;
            color: var(--color-text-main, #000); 
            margin-bottom: 1.2rem;
            line-height: 1;
        }

        .target__parraf {
            font-size: 1rem;
            line-height: 1.6;
            color: var(--color-text-paragraph, #333); 
            
            text-align: justify;
            font-weight:600;
        }
    }

}


/* =========================================
   RESPONSIVE: CELULAR Y TABLET (< 960px)
   ========================================= */
@media screen and (max-width: 960px) {
    
    .vision__grid {
        grid-template-columns: minmax(0, 1fr);
        min-height: auto;

        .vision__gridL {
            height: 50vh; 
            width: 100%;

            .vision__gridL--container {
                max-width: 100%; 
                display: none; 
            }
        }

        .vision__gridR {
            justify-content: center;
            
            .vision__gridR--container {
                max-width: 100%; 
                padding: 8rem clamp(1rem, 15vw, 13rem) 8rem clamp(1rem, 15vw, 13rem)  ;
                flex-direction: column-reverse; 
                gap: 4rem;
                text-align: center;


                .vison__title {
                    width: fit-content;
                    justify-self: center;
                    font-size: clamp(2.5rem, 21vw, 6.2rem);
                    white-space: nowrap;

                    writing-mode: horizontal-tb;
                    transform: none;
                    color: var(--color-primary);
                    text-transform: uppercase;
                    font-weight: 900;
                    line-height: 0.7; 
                    margin: 0 0 0 3%;
                    padding: 0;
                    line-height: 0.7;
                    position: relative;
                    bottom: -0.1rem;
                    flex-shrink: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    .vision__grid--two{
        display: grid;
        grid-template-columns: minmax(0, 1fr);

        gap: 6rem;
        padding: 4rem 5rem;
        width: 100%;

        .vision__target{
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .target__title {
                font-size: 1.5rem;
                text-transform: uppercase;
                font-weight: 600;
                color: var(--color-text-main, #000); 
                margin-bottom: 1.2rem;
                line-height: 1;
            }

            .target__parraf {
                font-size: 1rem;
                line-height: 1.6;
                color: var(--color-text-paragraph, #333); 
                
                text-align: justify;
                font-weight:600;
            }
        }

    }
}